<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{{ '/css/dod.css' | url }}">
  <meta name="description" content="{{ site.description }}" />
  <meta name="twitter:description" content="{{ site.description }}" />
  <meta property="og:description" content="{{ site.description }}" />
</head>
<body class="dod-layout-default">
  <header data-grid-area="header" class="dod-space-between-responsive">
    <div>
      <h1 class="dod-heading-1 dod-stack-4"><a href="/">Dogs of Dev</a></h1>
      <p class="dod-heading-3 dod-stack-16">Dogs of people who make websites</p>
    </div>
    {% if title != "Submit a Dog" %}
    <a href="/submit" class="dod-button">Submit a Dog</a>
    {% endif %}
  </header>

  <main data-grid-area="main">
    {{ content | safe }}
  </main>

  <footer data-grid-area="footer">
    <p>Made with ❤️ by <a href="https://mikeaparicio.com">Mike Aparicio</a>. Built with <a href="https://11ty.dev">Eleventy</a>. Hosted by <a href="https://netlify.com">Netlify</a>. <a href="https://latest.losttype.com/introducing/dotties">Dotties</a> font by <a href="https://www.kyleletendre.com">Kyle Letendre</a>.</a></p>
    
    <p><a href="https://github.com/peruvianidol/dogsof.dev">Contribute on GitHub</a>
  </footer>

</body>
</html>