.dod-card:hover img {
  transform: scale(1.05);
  transition: transform .2s ease-in-out;
}

.dod-card {
  text-decoration: none;
  color: inherit;
}

.dod-card:hover {
  color: $color-text-interactive-highlight;
}