.dod-label {
  font-weight: 600;
  display: block;
}

.dod-input {
  -webkit-appearance: none;
  width: 100%;
  border: $border-width-thin solid $color-border-default;
  border-radius: $border-radius-small;
  padding: $spacing-8;
}