---
title: All Dogs
layout: base
---

<article class="dod-article">
  <h2 class="dod-heading-2 dod-stack-32">All {{ collections.dogs.length }} Dogs</h2>

  <ol>
{% for dog in dogs -%}
  <li><a href="/dogs/{{ dog.permalink if dog.permalink else dog.name | slug}}/">{{ dog.name }}</a></li>
{% endfor %}
  </ol>
</article>