.dod-flex-row {
  display: flex;
  align-items: center;
}

.dod-flex-row > :not(:last-child) {
  margin-right: $spacing-8;
}

.dod-justify-center {
  justify-content: center;
}

.dod-flex-row-responsive {
  display: flex;
  flex-direction: column;
}

@media (min-width: $breakpoint-medium) {
  .dod-space-between-responsive {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .dod-space-between-responsive > :not(:last-child) {
    margin-right: $spacing-16;
  }

  .dod-flex-row-responsive {
    flex-direction: row;
  }

  .dod-flex-row-responsive > :not(:last-child) {
    margin-right: $spacing-32;
  }

  .dod-flex-item {
    position: relative;
    flex: 1;
  }
}
