.dod-stack-4 {
  margin-bottom: $spacing-4;
}

.dod-stack-8 {
  margin-bottom: $spacing-8;
}

.dod-stack-12 {
  margin-bottom: $spacing-12;
}

.dod-stack-16 {
  margin-bottom: $spacing-16;
}

.dod-stack-24 {
  margin-bottom: $spacing-24;
}

.dod-stack-32 {
  margin-bottom: $spacing-32;
}

.dod-stack-48 {
  margin-bottom: $spacing-48;
}

.dod-flow > :not(:last-child):not([class*="dod-stack"]) {
  margin-bottom: $spacing-24;
}