---
pagination:
  data: dogs
  size: 1
  alias: dog
  addAllPagesToCollections: true
permalink: "dogs/{{dog.name | slug }}/"
layout: base
tags: dogs
eleventyComputed:
  title: "{{ dog.name }}"
  image: "/images/{{ dog.name | slug }}.jpg"
  owner: "{{ dog.owner }}"
  ownerUrl: "{{ dog.ownerUrl }}"
---

<h2 class="dod-heading-1 dod-stack-16">{{ dog.name }}</h2>

<article class="dod-flex-row-responsive dod-article">
  <div class="dod-flex-item dod-stack-16">
    <img src="/images/{{dog.name | slug }}.jpg" alt="{{ dog.name }}">
  </div>
  <div class="dod-flex-item">
    {% if dog.bio %}
    <p class="dod-stack-16">{{ dog.bio }}</p>
    {% endif %}

    <h3 class="dod-heading-3">Owner</h3>

    <p><a href="{{ dog.ownerUrl }}">{{ dog.owner }}</a></p>

    {% if dog.ownerTitle %}
    <p>{{ dog.ownerTitle }}</p>
    {% endif %}
  </div>
</article>
