$blue-200: #ADD8E6;
$blue-600: #0073E6;
$purple-600: #745EED;
$magenta-600: #D100D1;
$yellow-200: #FFF8DC;
$yellow-600: yellow;
$yellow-800: #ffd700;
$white: #ffffff;
$gray-200: #E8E8E8;
$gray-600: #595959;
$black: #262626;
$shadow: rgba(0,0,0,.5);

$font-size-small: .875rem;
$font-size-default: 1rem;
$font-size-large: 1.25rem;
$font-size-larger: 2rem;
$font-size-largest: 4rem;

$line-height-small: 1.25rem;
$line-height-default: 1.5rem;
$line-height-large: 1.5rem;
$line-height-larger: 2.25rem;
$line-height-largest: 4rem;

$font-weight-light: 300;
$font-weight-bold: 600;

$font-family-heading: "Dotties Chocolate", sans-serif;
$font-family-body: "Dotties Vanilla", sans-serif;

$text-shadow-small: 1px 1px 2px $shadow;
$text-shadow-large: 2px 2px 4px $shadow;

$spacing-4: .25rem;
$spacing-8: .5rem;
$spacing-12: .75rem;
$spacing-16: 1rem;
$spacing-20: 1.25rem;
$spacing-24: 1.5rem;
$spacing-32: 2rem;
$spacing-48: 3rem;
$spacing-64: 4rem;

$border-radius-small: .25rem;
$border-radius-medium: .5rem;
$border-radius-large: 1rem;

$border-width-thin: 1px;

$box-shadow-default: 0 0 8px $shadow;

$offset-default: 2px;

$breakpoint-medium: 700px;
$page-max-width: 1080px;
$article-max-width: 50ch;

$color-text-body: $black;
$color-text-inverse: $white;
$color-text-interactive: $blue-600;
$color-text-interactive-highlight: $magenta-600;
$color-text-subdued: $gray-600;

$color-background-body: $blue-600;
$color-background-surface: $white;
$color-background-button: $yellow-800;
$color-background-button-highlight: $yellow-600;
$color-background-button-secondary: $purple-600;
$color-background-button-secondary-highlight: $magenta-600;
$color-border-default: $gray-200;